body {
    font-family: Arial, sans-serif;
    background-color: #121212; /* Cor de fundo escura */
    color: #e0e0e0; /* Cor de texto clara */
    margin: 0;
    padding: 0;
}

.profile-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #1f1f1f; /* Fundo escuro com leve variação */
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    color: #3a3aff; /* Cor de destaque dourada */
}

#user-info {
    margin-top: 20px;
    padding: 10px;
    background-color: #333; /* Fundo mais escuro para o conteúdo */
    border-radius: 5px;
    color: #e0e0e0; /* Texto claro */
}

a {
    display: block;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    color: #3a3aff; /* Cor de destaque dourada */
}

a:hover {
    text-decoration: underline;
}
